/*-------------------------------------------

   Copyright (c) 2020, Mono Company
   github.com/mono-company/mono-icons

   * SITE: icons.mono.company
   * LIST: iconmagic.io/iconset/mi
   * USAGE: gitlab.com/monoicons/i

--------------------------------------------*/

@font-face {
  font-family: 'monoicons';
  src: url('./files/monoicons.eot?68506481');
  src: url('./files/monoicons.eot?68506481#iefix') format('embedded-opentype'),
       url('./files/monoicons.woff2?68506481') format('woff2'),
       url('./files/monoicons.woff?68506481') format('woff'),
       url('./files/monoicons.ttf?68506481') format('truetype'),
       url('./files/monoicons.svg?68506481#monoicons') format('svg');
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'monoicons';
    src: url('./files/monoicons.svg?68506481#monoicons') format('svg');
  }
}

.mono-icons {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'monoicons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mono-icons[icon-name="add"]:before { content: '\e800'; } 
.mono-icons[icon-name="archive"]:before { content: '\e801'; } 
.mono-icons[icon-name="arrow-down"]:before { content: '\e802'; } 
.mono-icons[icon-name="arrow-left-down"]:before { content: '\e803'; } 
.mono-icons[icon-name="arrow-left-up"]:before { content: '\e804'; } 
.mono-icons[icon-name="arrow-left"]:before { content: '\e805'; } 
.mono-icons[icon-name="arrow-right-down"]:before { content: '\e806'; } 
.mono-icons[icon-name="arrow-right-up"]:before { content: '\e807'; } 
.mono-icons[icon-name="arrow-right"]:before { content: '\e808'; } 
.mono-icons[icon-name="arrow-up"]:before { content: '\e809'; } 
.mono-icons[icon-name="attachment"]:before { content: '\e80a'; } 
.mono-icons[icon-name="backspace"]:before { content: '\e80b'; } 
.mono-icons[icon-name="ban"]:before { content: '\e80c'; } 
.mono-icons[icon-name="bar-chart-alt"]:before { content: '\e80d'; } 
.mono-icons[icon-name="bar-chart"]:before { content: '\e80e'; } 
.mono-icons[icon-name="board"]:before { content: '\e80f'; } 
.mono-icons[icon-name="bold"]:before { content: '\e810'; } 
.mono-icons[icon-name="book"]:before { content: '\e811'; } 
.mono-icons[icon-name="bookmark"]:before { content: '\e812'; } 
.mono-icons[icon-name="calendar"]:before { content: '\e813'; } 
.mono-icons[icon-name="call"]:before { content: '\e814'; } 
.mono-icons[icon-name="camera"]:before { content: '\e815'; } 
.mono-icons[icon-name="caret-down"]:before { content: '\e816'; } 
.mono-icons[icon-name="caret-left"]:before { content: '\e817'; } 
.mono-icons[icon-name="caret-right"]:before { content: '\e818'; } 
.mono-icons[icon-name="caret-up"]:before { content: '\e819'; } 
.mono-icons[icon-name="check"]:before { content: '\e81a'; } 
.mono-icons[icon-name="chevron-double-down"]:before { content: '\e81b'; } 
.mono-icons[icon-name="chevron-double-left"]:before { content: '\e81c'; } 
.mono-icons[icon-name="chevron-double-right"]:before { content: '\e81d'; } 
.mono-icons[icon-name="chevron-double-up"]:before { content: '\e81e'; } 
.mono-icons[icon-name="chevron-down"]:before { content: '\e81f'; } 
.mono-icons[icon-name="chevron-left"]:before { content: '\e820'; } 
.mono-icons[icon-name="chevron-right"]:before { content: '\e821'; } 
.mono-icons[icon-name="chevron-up"]:before { content: '\e822'; } 
.mono-icons[icon-name="circle-add"]:before { content: '\e823'; } 
.mono-icons[icon-name="circle-arrow-down"]:before { content: '\e824'; } 
.mono-icons[icon-name="circle-arrow-left"]:before { content: '\e825'; } 
.mono-icons[icon-name="circle-arrow-right"]:before { content: '\e826'; } 
.mono-icons[icon-name="circle-arrow-up"]:before { content: '\e827'; } 
.mono-icons[icon-name="circle-check"]:before { content: '\e828'; } 
.mono-icons[icon-name="circle-error"]:before { content: '\e829'; } 
.mono-icons[icon-name="circle-help"]:before { content: '\e82a'; } 
.mono-icons[icon-name="circle-information"]:before { content: '\e82b'; } 
.mono-icons[icon-name="circle-remove"]:before { content: '\e82c'; } 
.mono-icons[icon-name="circle-warning"]:before { content: '\e82d'; } 
.mono-icons[icon-name="circle"]:before { content: '\e82e'; } 
.mono-icons[icon-name="clipboard-check"]:before { content: '\e82f'; } 
.mono-icons[icon-name="clipboard-list"]:before { content: '\e830'; } 
.mono-icons[icon-name="clipboard"]:before { content: '\e831'; } 
.mono-icons[icon-name="clock"]:before { content: '\e832'; } 
.mono-icons[icon-name="close"]:before { content: '\e833'; } 
.mono-icons[icon-name="cloud-download"]:before { content: '\e834'; } 
.mono-icons[icon-name="cloud-upload"]:before { content: '\e835'; } 
.mono-icons[icon-name="cloud"]:before { content: '\e836'; } 
.mono-icons[icon-name="cloudy"]:before { content: '\e837'; } 
.mono-icons[icon-name="comment"]:before { content: '\e838'; } 
.mono-icons[icon-name="compass"]:before { content: '\e839'; } 
.mono-icons[icon-name="computer"]:before { content: '\e83a'; } 
.mono-icons[icon-name="copy"]:before { content: '\e83b'; } 
.mono-icons[icon-name="credit-card"]:before { content: '\e83c'; } 
.mono-icons[icon-name="database"]:before { content: '\e83d'; } 
.mono-icons[icon-name="delete-alt"]:before { content: '\e83e'; } 
.mono-icons[icon-name="delete"]:before { content: '\e83f'; } 
.mono-icons[icon-name="document-add"]:before { content: '\e840'; } 
.mono-icons[icon-name="document-check"]:before { content: '\e841'; } 
.mono-icons[icon-name="document-download"]:before { content: '\e842'; } 
.mono-icons[icon-name="document-remove"]:before { content: '\e843'; } 
.mono-icons[icon-name="document"]:before { content: '\e844'; } 
.mono-icons[icon-name="document-empty"]:before { content: '\e845'; } 
.mono-icons[icon-name="download"]:before { content: '\e846'; } 
.mono-icons[icon-name="drag"]:before { content: '\e847'; } 
.mono-icons[icon-name="drop"]:before { content: '\e848'; } 
.mono-icons[icon-name="edit-alt"]:before { content: '\e849'; } 
.mono-icons[icon-name="edit"]:before { content: '\e84a'; } 
.mono-icons[icon-name="email"]:before { content: '\e84b'; } 
.mono-icons[icon-name="enter"]:before { content: '\e84c'; } 
.mono-icons[icon-name="expand"]:before { content: '\e84d'; } 
.mono-icons[icon-name="export"]:before { content: '\e84e'; } 
.mono-icons[icon-name="external-link"]:before { content: '\e84f'; } 
.mono-icons[icon-name="eye-off"]:before { content: '\e850'; } 
.mono-icons[icon-name="eye"]:before { content: '\e851'; } 
.mono-icons[icon-name="favorite"]:before { content: '\e852'; } 
.mono-icons[icon-name="filter-1"]:before { content: '\e853'; } 
.mono-icons[icon-name="filter-alt"]:before { content: '\e854'; } 
.mono-icons[icon-name="filter"]:before { content: '\e855'; } 
.mono-icons[icon-name="flag"]:before { content: '\e856'; } 
.mono-icons[icon-name="fog"]:before { content: '\e857'; } 
.mono-icons[icon-name="folder-add"]:before { content: '\e858'; } 
.mono-icons[icon-name="folder-check"]:before { content: '\e859'; } 
.mono-icons[icon-name="folder-download"]:before { content: '\e85a'; } 
.mono-icons[icon-name="folder-remove"]:before { content: '\e85b'; } 
.mono-icons[icon-name="folder"]:before { content: '\e85c'; } 
.mono-icons[icon-name="heart"]:before { content: '\e85d'; } 
.mono-icons[icon-name="grid"]:before { content: '\e85e'; } 
.mono-icons[icon-name="image"]:before { content: '\e85f'; } 
.mono-icons[icon-name="home"]:before { content: '\e860'; } 
.mono-icons[icon-name="inbox"]:before { content: '\e861'; } 
.mono-icons[icon-name="italic"]:before { content: '\e862'; } 
.mono-icons[icon-name="laptop"]:before { content: '\e863'; } 
.mono-icons[icon-name="layers"]:before { content: '\e864'; } 
.mono-icons[icon-name="layout"]:before { content: '\e865'; } 
.mono-icons[icon-name="link-alt"]:before { content: '\e866'; } 
.mono-icons[icon-name="link"]:before { content: '\e867'; } 
.mono-icons[icon-name="list"]:before { content: '\e868'; } 
.mono-icons[icon-name="location"]:before { content: '\e869'; } 
.mono-icons[icon-name="lock"]:before { content: '\e86a'; } 
.mono-icons[icon-name="log-in"]:before { content: '\e86b'; } 
.mono-icons[icon-name="log-out"]:before { content: '\e86c'; } 
.mono-icons[icon-name="map"]:before { content: '\e86d'; } 
.mono-icons[icon-name="megaphone"]:before { content: '\e86e'; } 
.mono-icons[icon-name="menu"]:before { content: '\e86f'; } 
.mono-icons[icon-name="message-alt"]:before { content: '\e870'; } 
.mono-icons[icon-name="message"]:before { content: '\e871'; } 
.mono-icons[icon-name="minimize"]:before { content: '\e872'; } 
.mono-icons[icon-name="mobile"]:before { content: '\e873'; } 
.mono-icons[icon-name="moon"]:before { content: '\e874'; } 
.mono-icons[icon-name="next"]:before { content: '\e875'; } 
.mono-icons[icon-name="notification-off"]:before { content: '\e876'; } 
.mono-icons[icon-name="notification"]:before { content: '\e877'; } 
.mono-icons[icon-name="options-horizontal"]:before { content: '\e878'; } 
.mono-icons[icon-name="options-vertical"]:before { content: '\e879'; } 
.mono-icons[icon-name="pause"]:before { content: '\e87a'; } 
.mono-icons[icon-name="pen"]:before { content: '\e87b'; } 
.mono-icons[icon-name="percentage"]:before { content: '\e87c'; } 
.mono-icons[icon-name="pin"]:before { content: '\e87d'; } 
.mono-icons[icon-name="play"]:before { content: '\e87e'; } 
.mono-icons[icon-name="previous"]:before { content: '\e87f'; } 
.mono-icons[icon-name="print"]:before { content: '\e880'; } 
.mono-icons[icon-name="rain"]:before { content: '\e881'; } 
.mono-icons[icon-name="refresh"]:before { content: '\e882'; } 
.mono-icons[icon-name="remove"]:before { content: '\e883'; } 
.mono-icons[icon-name="reorder-alt"]:before { content: '\e884'; } 
.mono-icons[icon-name="reorder"]:before { content: '\e885'; } 
.mono-icons[icon-name="repeat"]:before { content: '\e886'; } 
.mono-icons[icon-name="save"]:before { content: '\e887'; } 
.mono-icons[icon-name="search"]:before { content: '\e888'; } 
.mono-icons[icon-name="select"]:before { content: '\e889'; } 
.mono-icons[icon-name="send"]:before { content: '\e88a'; } 
.mono-icons[icon-name="settings"]:before { content: '\e88b'; } 
.mono-icons[icon-name="share"]:before { content: '\e88c'; } 
.mono-icons[icon-name="shopping-cart-add"]:before { content: '\e88d'; } 
.mono-icons[icon-name="shopping-cart"]:before { content: '\e88e'; } 
.mono-icons[icon-name="shuffle"]:before { content: '\e88f'; } 
.mono-icons[icon-name="snow"]:before { content: '\e890'; } 
.mono-icons[icon-name="snowflake"]:before { content: '\e891'; } 
.mono-icons[icon-name="sort"]:before { content: '\e892'; } 
.mono-icons[icon-name="speakers"]:before { content: '\e893'; } 
.mono-icons[icon-name="stop"]:before { content: '\e894'; } 
.mono-icons[icon-name="storm"]:before { content: '\e895'; } 
.mono-icons[icon-name="strikethrough"]:before { content: '\e896'; } 
.mono-icons[icon-name="sun"]:before { content: '\e897'; } 
.mono-icons[icon-name="sunrise-alt"]:before { content: '\e898'; } 
.mono-icons[icon-name="sunrise"]:before { content: '\e899'; } 
.mono-icons[icon-name="sunset"]:before { content: '\e89a'; } 
.mono-icons[icon-name="switch"]:before { content: '\e89b'; } 
.mono-icons[icon-name="table"]:before { content: '\e89c'; } 
.mono-icons[icon-name="tablet"]:before { content: '\e89d'; } 
.mono-icons[icon-name="tag"]:before { content: '\e89e'; } 
.mono-icons[icon-name="temperature"]:before { content: '\e89f'; } 
.mono-icons[icon-name="text"]:before { content: '\e8a0'; } 
.mono-icons[icon-name="three-rows"]:before { content: '\e8a1'; } 
.mono-icons[icon-name="two-columns"]:before { content: '\e8a2'; } 
.mono-icons[icon-name="two-rows"]:before { content: '\e8a3'; } 
.mono-icons[icon-name="underline"]:before { content: '\e8a4'; } 
.mono-icons[icon-name="undo"]:before { content: '\e8a5'; } 
.mono-icons[icon-name="unlock"]:before { content: '\e8a6'; } 
.mono-icons[icon-name="user-add"]:before { content: '\e8a7'; } 
.mono-icons[icon-name="user-check"]:before { content: '\e8a8'; } 
.mono-icons[icon-name="user-remove"]:before { content: '\e8a9'; } 
.mono-icons[icon-name="user"]:before { content: '\e8aa'; } 
.mono-icons[icon-name="users"]:before { content: '\e8ab'; } 
.mono-icons[icon-name="volume-off"]:before { content: '\e8ac'; } 
.mono-icons[icon-name="volume-up"]:before { content: '\e8ad'; } 
.mono-icons[icon-name="warning"]:before { content: '\e8ae'; } 
.mono-icons[icon-name="webcam"]:before { content: '\e8af'; } 
.mono-icons[icon-name="wind"]:before { content: '\e8b0'; } 
.mono-icons[icon-name="window"]:before { content: '\e8b1'; } 
.mono-icons[icon-name="zoom-in"]:before { content: '\e8b2'; } 
.mono-icons[icon-name="zoom-out"]:before { content: '\e8b3'; } 
